<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User authentication</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/athlete.svg">
</head>

<body>
    <div class="wrap-site">

        <div class="ui stackable menu">
            <div class="ui container">
                <li class="item"><a href="/"><img width="30px" src="img/athlete.svg" alt=""></a> </li>

                <% if(user){ %>
                <div class="right menu">
                    <li class="item"><a href="/logout" class="ui red mini button">Log Out</a></li>
                    <li class="item"><a href="/players" class="ui large button purple">View players</a></li>
                </div>
                <% }else{ %>
                <li class="item"><a href="/signup" class="ui green mini button">Sign Up</a></li>
                <li class="item"><a href="/login" class="ui green mini button">Log In</a></li>
                <% } %>
            </div>
        </div>

        <% if(user){ %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="ui container">
            <div class="ui segment">
                <h3 class="ui header aligned center"> Welcome <%- user.email %></h3>
            </div>

        </div>

        <% } %>