<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User authentication</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/athlete.svg">
</head>

<body>
    <div class="wrap-site">

        <div class="ui menu">
            <div class="ui container">
                <li class="item"><a href="/"><img width="30px" src="img/athlete.svg" alt=""></a> </li>
                <div class="right menu">
                    <li class="item"><a href="/players" class="ui large button purple">View players</a></li>
                </div>
            </div>
        </div>