<div class="wrapper">
    <div class="ui teal stackable inverted menu">
        <div class="ui container">
            <a class="item">Home</a>
            <a class="item">About</a>
            <div class="right menu">
                <a class="item">
                    <div class="ui buttons">
                        <button class="ui button">Sign Up</button>
                        <div class="or"></div>
                        <button class="ui positive button">Sing In</button>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>