<div class="wrapper">
    <div class="ui teal stackable inverted menu">
        <div class="ui container">
            <a class="item" href="/">Home</a>
            <a class="item">About</a>
            <div class="right menu">
                <a class="item">
                    <div class="ui buttons">
                        <a href="/users/signup" class="ui blue button">Sign Up</a>
                        <div class="or"></div>
                        <a href="/users/signin" class="ui blue button">Sing In</a>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>