<!DOCTYPE html>
<html>

<head>
  <title>NodeJS Auth</title>
  <link rel="stylesheet" href="/stylesheets/semantic.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    {{> menu }}
    {{{body}}}
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/semantic.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>