<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Auth - Register</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="wrapper">
        <%- include('layout/header'); %>
            <br>
            <br>
            <br>
            <div class="ui container">
                <h2 class="ui header massive green">Register</h2>
                <br><br>
                <form action="/login" method="POST" class="ui stackable form">
                    <div class="ui two fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <label for="email" class="ui label"><i class="inbox icon"></i></label>
                                <input type="email" name="email" required placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <label for="password" class="ui label"><i class="barcode icon"></i></label>
                                <input type="password" name="password" required>
                            </div>

                        </div>
                    </div>
                    <div class="ui field fluid">
                        <button class="ui green button fluid" type="submit">Login</button>
                    </div>
                </form>
                <br><br>
                <a href="/register">Login</a>
            </div>


    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
</body>

</html>