<%- include('partials/header'); %>
<div class="ui container">
    <br>
    <div class="ui segment">Players</div>
    <br>
    <div class="ui four doubling cards">
        <div class="card">
            <div class="image">
                <img src="img/bg.jpg">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="img/bg.jpg">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="img/bg.jpg">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="img/bg.jpg">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>