<div class="container">
    <br><br><br>
    <div class="row">
        <form class="col s12" action="/auth/register" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="full-name" type="text" name="name" class="validate">
                    <label for="full-name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password2" class="validate">
                    <label for="password">Repeat Password</label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>