<%- include('partials/header'); %>
<div class="ui container">
    <h2 class="ui header green aligned center">Sign up</h2>
    <form class="ui form">
        <div class="two fields">
            <div class="field">
                <label for="email" class="ui header green">Email</label>
                <input type="text" name="email" required>
                <div class="ui message red">Error</div>
            </div>
            <div class="field">
                <label for="password" class="ui header green">Password</label>
                <input type="password" name="password" required>
                <div class="ui message red">Error</div>
            </div>
        </div>
        <div class="field">
            <button class="ui button green fluid">Submit</button>
        </div>
    </form>
</div>

<script>
    const form = document.querySelector("form");
    form.addEventListener('submit', (e)=>{
        e.preventDefault();

        // GET VALUES
        const email = form.email.value;
        const password = form.password.value;
        console.log(email, password);
    });
</script>
<%- include('partials/footer'); %>