<%- include('partials/header'); %>
<div class="ui container">
    <h2 class="ui header green aligned center">Sign up</h2>
    <form class="ui form">
        <div class="two fields">
            <div class="field">
                <label for="email" class="ui header green">Email</label>
                <input type="text" name="email" required>
                <!-- <div class="ui message red email">Error</div> -->
            </div>
            <div class="field">
                <label for="password" class="ui header green">Password</label>
                <input type="password" name="password" required>
                <!-- <div class="ui message red password">Error</div> -->
            </div>
        </div>
        <div class="field">
            <button class="ui button green fluid">Submit</button>
        </div>
    </form>
</div>

<script>
    const form = document.querySelector("form");
    // const emailError = document.querySelector(".ui.email");
    // const passwordError = document.querySelector(".ui.password");

    // console.log(passwordError.attributes);
    form.addEventListener('submit', async (e) => {
        e.preventDefault();


        // // RESET ERRORS
        // emailError.textContent = '';
        // passwordError.textContent = '';

        // GET VALUES
        const email = form.email.value;
        const password = form.password.value;
        // console.log(email, password);

        try {
            const res = await fetch('/signup', {
                method: "POST",
                body: JSON.stringify({ email, password }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();
            console.log("sign up fire");
            console.log(data);
            // SHOWING ERROR MESSAGES
            if (data.errors) {
                console.log("it has some error");
                console.log(data.errors);
                if (data.errors.email) {
                    console.log("email error");
                    let emailErrDiv = document.createElement('div');
                    emailErrDiv.setAttribute('class', 'ui message red');
                    emailErrDiv.textContent = data.errors.email;
                    form.appendChild(emailErrDiv);
                    setTimeout(() => {
                        form.removeChild(emailErrDiv);
                    }, 3000);
                }
                if (data.errors.password) {
                    console.log("Password errror");
                    let passwordErrDiv = document.createElement('div');
                    passwordErrDiv.setAttribute('class', 'ui message red');
                    passwordErrDiv.textContent = data.errors.password;

                    form.appendChild(passwordErrDiv);
                    setTimeout(() => {
                        form.removeChild(passwordErrDiv);
                    }, 3000);
                }



                // emailError.textContent = data.errors.email;
                // passwordError.textContent = data.errors.password;

            }
            if (data.user) {
                location.assign('/');
            }
        } catch (err) {
            console.log(err);
        }
    });




    //   const res = await fetch('/signup', { 
    //     method: 'POST', 
    //     body: JSON.stringify({ email, password }),
    //     headers: {'Content-Type': 'application/json'}
    //   });

</script>
<%- include('partials/footer'); %>