<div class="ui inverted stackable blue menu large">
    <div class="ui container">
        <a href="/" class="item"><i class="home icon"></i>Home</a>
        <a href="#" class="item"><i class="user circle icon"></i> About</a>
        <a href="#" class="item"><i class="blogger icon"></i> Blog</a>

        <div class="right menu">
            <div class="item">
                <div class="ui buttons">
                    <a class="ui button" href="/login"><i class="sign-in icon"></i> Log In </a>
                    <div class="or"></div>
                    <a class="ui positive button" href="/register"><i class="arrow up icon"></i> Register </a>
                </div>
            </div>

        </div>

    </div>
</div>
</div>